/* SEARCH SECTION */

.sectionSearch {
  width: 100%;
  padding-top: var(--header-height);
  margin-bottom: 80px;
}

.sectionSearchTitle {
  font-family: "Inter";
  font-weight: 700;
  font-size: 58px;
  text-align: center;
  margin-top: 79px;
  color: var(--color-light-gray);
}

.sectionSearchQuery {
  padding: 22px 38px;
  width: 789px;
  height: 69px;
  box-sizing: border-box;
  padding: 22px 38px;
  background: #f3f3f3;
  border-radius: 15px;
  display: flex;
  margin: 0 auto;
}

.sectionSearchQuery > input {
  width: 100%;
  margin-left: 37px;
  border: none;
  outline: none;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  background: none;
}

.sectionSearchQuery > input::placeholder {
  color: #a2a2a2;
}

/* EXAMPLES SECTION */

.sectionExamples {
  background: var(--color-mint);
  box-sizing: border-box;
  padding: 50px 0;
  margin-bottom: 115px;
}

.sectionExamplesTitle {
  color: white;
  font-family: "Inter";
  font-weight: bold;
  font-size: 40px;
  margin: 0 0 50px 0;
}

.sectionExamplesCards {
  display: flex;
  justify-content: space-between;
}

/* EXPLORE ALL SECTION */

.sectionExplore {
  margin-bottom: 300px;
}

.sectionExploreFilters {
  width: 100%;
  height: 94px;
  background: #e6e6e6;
  margin-bottom: 50px;
}

.sectionExploreFilters > div {
  display: flex;
  align-items: center;
  position: relative;
}

.sectionExploreSort > div > div {
  position: absolute;
  right: 0;
}

.sectionExploreFiltersButton {
  border: none;
  background-color: white;
  font-family: "Inter";
  font-weight: 500;
  color: #343434;
  font-size: 16px;
  line-height: 18px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 12px 20px;
}

.sectionExploreFiltersButton:not(:last-child) {
  margin-right: 20px;
}

.sectionExploreSort {
  margin-bottom: 39px;
}

.sectionExploreSort > div {
  display: flex;
  align-items: center;
  position: relative;
}

.sectionExploreTitle {
  font-family: "Inter";
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #343434;
  margin: 10px;
}

.sectionExploreTitle > span {
  font-family: "Inter";
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;
  color: #82899a;
  margin-left: 16px;
}

.sectionExploreCards > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 71px;
}
