.Title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #2d2d2d;
}
.Title:hover {
  color: #2f80ed;
  text-decoration: underline;
}
.Title:active {
  color: #000e80ed;
}
.Type {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 22px;
}
.Author {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #828282;
}
.Author:hover {
  color: #2f80ed;
  text-decoration: underline;
}
.Author:active {
  color: #000e80ed;
}
.Desc {
  width: 396px;
  height: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #6d6d6d;
}
.ItemCard {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  min-width: 700px;
  width: 34vw;
  height: 376px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.Image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 41px;
  height: 100%;
}
.Image > img {
  width: 284px;
  height: 379px;
}
.Details {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.GoalBar {
  width: 90%;
  height: 8px;
  background: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 10px;
}
.GoalBar > div {
  height: 100%;
  background: #439196;
  border-radius: 4px;
  max-width: 100%;
}
.GoalText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #2d2d2d;
  margin-bottom: 10px;
}
.CurrentAmount{
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #2d2d2d;
  margin-bottom: 10px;
}
.Stats{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  .ItemCard {
    flex-direction: column;
    height: 600px;
    min-width: 300px;
    align-items: center;
    align-self: center;
  }
  .Image {
    margin-right: 0px;
    margin-bottom: 20px;
    width: 100%;
    height: 379px;
  }
  .Image  img {
    width: 100%;
    height: 379px;
  }

  .GoalBar {
    width: 100%;
  }
  .Desc {
   display: none;
  }
 

}
