html {
  background-color: #f3f3f3;
}

.content {
  width: 100%;
  background-color: white;
  margin-top: 175px;
  margin-bottom: 92px;
  box-sizing: border-box;
  padding: 55px 406px 55px 63px;
  border-radius: 20px;
}

.title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
}

.sectionNav {
  display: flex;
  gap: 10px;
  margin-bottom: 72px;
}

.sectionNavButton {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  box-sizing: border-box;
  padding: 14px 22px;
  border: 1px solid #a1a1a1;
  background-color: white;
  border-radius: 6px;
}

.sectionNavButton.active {
  color: white;
  background-color: var(--color-azzuro);
  border: 1px solid var(--color-azzuro);
}

.section {
  display: flex;
  flex-direction: column;
}

.section:not(:last-child) {
  margin-bottom: 10px;
}

.sectionTitle {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.sectionDescription {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #6d6d6d;
  margin: 5px 0 0 0;
}

.sectionInputText {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
  padding: 18px;
  border: 1px solid #a1a1a1;
  background-color: white;
  border-radius: 6px;
  margin-top: 15px;
}

.sectionInputLarge {
  width: 100%;
  border: 1px solid #a1a1a1;
  background-color: white;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 22px;
  margin-top: 5px;
}

.sectionInputText,
.sectionInputLarge {
  margin-bottom: 23px;
}

.sectionLargeInputHeader {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-sizing: border-box;
  padding-bottom: 22px;
}

.sectionLargeInputHeader > img:nth-child(2),
.sectionLargeInputHeader > img:nth-child(7),
.sectionLargeInputHeader > img:nth-child(11) {
  margin-right: 15px;
}

.sectionLargeInputArea {
  resize: none;
  width: 100%;
  min-height: 200px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  height: auto;
  border: none;
  outline: none;
}

.sectionDateContainer {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px 0 15px 0;
}

.sectionDateInput {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
  padding: 18px;
  border: 1px solid #a1a1a1;
  background-color: white;
  border-radius: 6px;
}

.sectionDateInput::-webkit-outer-spin-button,
.sectionDateInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sectionDateInput:nth-child(1),
.sectionDateInput:nth-child(2) {
  width: 75px;
}

.sectionDateInput:nth-child(3) {
  width: 89px;
}

.sectionKeywordsContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.sectionKeywordsItem {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  box-sizing: border-box;
  padding: 14px 22px;
  border: 1px solid #a1a1a1;
  background-color: white;
  border-radius: 6px;
}

.sectionKeywordsButton {
  width: 40px;
  height: 40px;
  background-color: var(--color-azzuro);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
}
