.MakeDonation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.DonationInfo {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  height: 100px;
}

.MakeDonation > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #343434;
}

.DonationInfo > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.DonationInfo > img {
  width: 30px;
  height: 30px;
  margin: 20px;
}
.PaymentMethod {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 389px;
  height: 57px;
  background: #f3f3f3;
  border-radius: 6px;
}
.PaymentMethod > select{
    width: 50px;
    height: 50px;
    padding: 20px;
    background-color: #F3F3F3;
    border: none;
    border-radius: 6px;
}
.PaymentMethod > img {
  width: 30px;
  height: 30px;
}
.PaymentMethod > input{
    width: 250px;	
    background-color: #F3F3F3;
    border: none;
    border-radius: 6px;
    padding: 20px;
}
.Tiers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 389px;
    height: 57px;
    background: #f3f3f3;
    border-radius: 6px;
}
.TierName{
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #343434;
}
.TierDesc{
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #343434;
}
.TierAmount{
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #343434;
}
.Transparency{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 389px;
    height: 57px;
    background: #f3f3f3;
    border-radius: 6px;
}
.Transparency > span{
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #343434;
}




