body {
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
  --header-height: 117px;
}

.headerMargin {
  padding-top: var(--header-height);
}

.layoutSpacing {
  max-width: calc(1440px - 2 * 123px);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
