.header {
  width: 100%;
  height: var(--header-height);
  background: var(--header-background);
  position: fixed;
  z-index: 100;
  transition: 200ms;
}

.hidden {
  transform: translateY(-100%);
}

.header > div {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.headerLogo {
  height: 53px;
  margin-right: 45px;
  cursor: pointer;
}

.headerNavItem {
  color: var(--header-nav-color);
  font-size: 18px;
  font-family: "SF Pro Display", serif;
  font-weight: 500;
}

.headerNavItem:not(:last-child) {
  margin-right: 60px;
}

.headerButtons {
  margin-left: auto;
  display: flex;
  gap: 30px;
}
