.header {
  width: 100%;
  height: 117px;
  background: #1B2DAF;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 123px;
}

.headerLogo {
  height: 53px;
  margin-right: 45px;
}

.headerNavItem {
  color: white;
  font-size: 18px;
  font-family: 'SF Pro Display', serif;
  font-weight: 500;
}

.headerNavItem:not(:last-child) {
  margin-right: 60px;
}

.header > button {
  margin-left: auto;
}