.header {
  width: 100%;
  height: var(--header-height);
  background: #1B2DAF;
  position: fixed;
}

.header > div {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.headerLogo {
  height: 53px;
  margin-right: 45px;
}

.headerNavItem {
  color: white;
  font-size: 18px;
  font-family: 'SF Pro Display', serif;
  font-weight: 500;
}

.headerNavItem:not(:last-child) {
  margin-right: 60px;
}

.header > div > button {
  margin-left: auto;
}